<configuration>  
  <system.webServer>
    <handlers>
       <remove name="Python FastCGI" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python37\python.exe|C:\Python37\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="None" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="init_SQLServer.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\SQLFlaskCrudApp" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\SQLFlaskCrudApp\app.log" />
  </appSettings>
</configuration>  